<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 
	아래에 스크립트는 코너스톤 독스에서 가져왔다
	그리고 필요한 툴은 -뒤에를 바꾸면 되는데 그게 있는지 확인하려면 해당 주소를 검색하면 된다.
-->
<!-- 아래 두 개는 보여주는 거 -->
<script src="https://unpkg.com/cornerstone-core"></script>
<script src="https://unpkg.com/cornerstone-tools"></script>
<!-- dicom-parser는 dicom 사진을 파싱하는 애 -->
<script src="https://unpkg.com/dicom-parser"></script>
<!-- 사진을 가져오는 것 -->
<script src="https://unpkg.com/cornerstone-wado-image-loader"></script>

</head>
<body>
	<h2>DICOM IMAGE VIEWER</h2>
	
	<div id="dicomImage"
         style="width:512px;height:512px"
         oncontextmenu="return false"
         onmousedown="return false">
    </div>

    <br>

    <button id="zoomIn" type="button" class="btn btn-default">Zoom In</button>
    <button id="zoomOut" type="button" class="btn btn-default">Zoom Out</button>
    <button id="reset" type="button" class="btn btn-default">Reset</button>

	<script src="js/app.js"></script>
	
	

</body>
</html>