<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Series Page</title>
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/cornerstone-core"></script>
    <script src="https://unpkg.com/cornerstone-wado-image-loader"></script>
    <script src="https://unpkg.com/dicom-parser"></script>
    
    <script th:inline="javascript"> 
					 const imagePaths = /*[[${imagePaths}]]*/ []; 
		/*<![CDATA[*/const seriesImagePaths = /*[[${seriesImagePaths}]]*/ []; /*]]>*/
	</script>
	
    <script src="/js/seriesPage.js"></script>
</head>
	
<body>
	<div class="row">
        <!-- 왼쪽 썸네일 목록 -->
        <div class="col-md-3">
            <h2>시리즈 목록</h2>
            <ul>
                <li th:each="series : ${imagePaths}" th:if="${series.imagePath != null}">
                    <div class="thumbnail"
     style="cursor:pointer; width:100px; height:100px; border:1px solid #ccc; margin-bottom:10px;"
     th:attr="data-series-key=${series.seriesKey}, data-study-key=${series.studyKey}"
     onclick="loadSeriesImages(this)">
     <span th:text="${series.seriesKey + '번 시리즈 (' + series.curSeqNum + '개)'}"></span>
</div>
                </li>
            </ul>
        </div>

        <!-- 오른쪽 큰 이미지 표시 -->
        <div class="col-md-9">
            <h2>이미지 뷰어</h2>
            <div id="dicomViewer" style="width:512px; height:512px; border:1px solid black; margin:auto;"></div>
        </div>
    </div>
</div>
</body>
</html>