@charset "UTF-8";
/* mainToolBar - 媛�濡� �댋諛� �쟾泥� */
.tool-bar {
	display: flex;
	width: 1630px;	/* �넗湲� �슚怨� �떆 �쐞移� 怨좎젙 */
	justify-content: flex-start;
	gap: 10px;
	background-color: #3D5C5C;
	padding: 15px;
	margin: 40px 10px 10px;
	border-bottom: 1px solid #444;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: relative; /* �옄�떇 �슂�냼�쓽 �쐞移섎�� 湲곗��젏�쑝濡� �꽕�젙 */
}

	.tool-bar .prev-next {
		display: flex;
	}

	.tool-bar button {
		background-color: #406b6b;
		color: #fff;
		margin: auto 5px;
		border: none;
		border-radius: 8px;
		padding: 10px 20px;
		cursor: pointer;
		font-size: 14px;
		transition: background-color 0.3s ease, transform 0.2s ease;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.tool-bar button:hover {
		background-color: #25403C;
		transform: translateY(-3px);
	}

	.tool-bar button:active {
		background-color: #1e3330;
	}


/* �떆由ъ쫰 �젅�씠�븘�썐 而⑦뀒�씠�꼫 �뒪���씪 */
#seriesLayoutContainer {
	display: flex;
	position: absolute; /* �젅�씠�븘�썐�뿉�꽌 �룆由쎌쟻�쑝濡� �룞�옉 */
    width: 200px; /* 而⑦뀒�씠�꼫 �꼫鍮� */
    height: auto; /* �넂�씠�뒗 踰꾪듉 �닔�뿉 �뵲�씪 議곗젙 */
    background-color: #2e4b4b;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 8px;
}

	/* 踰꾪듉(��) �뒪���씪 */
	.grid-cell {
	    width: 35px;
	    height: 35px;
	    margin: 2px;
	    background-color: #3d5c5c;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;
	    font-size: 13px;
	    cursor: pointer;
	    transition: background-color 0.2s;
	    border-radius: 8px; /* �� 紐⑥뼇 �뫁湲�寃� */
	}

	/* 踰꾪듉(��) hover �슚怨� */
	.grid-cell:hover {
	    background-color: #add8e6; /* �샇踰� �떆 �뿰�븳 珥덈줉�깋�쑝濡� 蹂�寃� */
	    border-color: #0078d4; /* �뀒�몢由� �깋�긽 蹂�寃� */
	}
	
	/* �꽑�깮�맂 踰꾪듉 �뒪���씪 */
.grid-cell.selected {
    background-color: #90ee90; /* �꽑�깮�맂 踰꾪듉�쓽 諛곌꼍�깋 (�뿰�븳 珥덈줉�깋) */
    border: 2px solid #008000; /* �꽑�깮�맂 踰꾪듉�쓽 �뀒�몢由� �깋�긽 (珥덈줉�깋) */
    color: white; /* �꽑�깮�맂 踰꾪듉�쓽 �뀓�뒪�듃 �깋�긽 */
    font-weight: bold; /* �뀓�뒪�듃 媛뺤“ */
}
