 /* 기본 레이아웃 및 썸네일 스타일 */
 .thumbnail-list {
	 width: 120px;
     float: left;
     margin-right: 20px;
     }

.thumbnail {
	width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* 시리즈 스타일에 맞게 추가 */
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 5px; /* 시리즈 스타일에 맞게 추가 */
    }
    
/* 텍스트 스타일 */
.thumbnail span {
	font-size: 10px; /* 텍스트 크기 줄임 */
	display: block;
	margin-bottom: 5px; /* 텍스트와 이미지 사이의 간격 */
	white-space: nowrap; /* 텍스트가 한 줄에 들어오도록 */
	overflow: hidden;
    text-overflow: ellipsis;
	}
        
/* 큰 이미지 뷰어 영역 */
.image-viewer {
	width: 512px;
    height: 512px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    float: left;
}
