<!-- tools.html -->
<div th:fragment="tool-bar">
    <div class="tool-bar">
        <div class="prev-next">
            <button>이전</button>
            <button>다음</button>
        </div>
        <div class="equipment">
            <button>윈도우 레벨</button>
            <button>확대</button>
            <button id="autoPlayButton" class="btn btn-default">자동재생 시작</button>
            <button>도구2</button>
            <button>도구3</button>
            <button>도구4</button>
            <button>도구5</button>
        </div>
    </div>
</div>